/* header style */
.head{
    background-image: url("../banner/banner3.png");
    width: 1600px;
    height: 808px;
    margin: 0;
    position: absolute;
}
.title{
    color: #FFFFFF; 
    position: absolute;
width: 525px;
height: 228px;
left: 845px;
top: 216px;

font-style: normal;
font-weight: 700;
font-size: 65px;
line-height: 76px;
text-align: right;
}
.sub-title{
    position: absolute;
width: 494px;
height: 78px;
left: 876px;
top: 468px;

font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
margin-top: 24px;
margin-bottom: 30px;
text-align: right;

color: #FFFFFF;


}
.contact-us{
    text-align:center;
    width: 160px;
height: 64px;
margin: 578px 235px 165px 1215px;
}
/* My failures of previous year */
.last-year{
    position: absolute;
width: 1072px;
height: 723.3px;
left: 239px;
top: 917px;
background-image: url("../person.png");
background-repeat:no-repeat ;
}

.section-title{
    color: #151414;
    position: absolute;
width: 288px;
height: 94px;
left: 650px;
top: 200px;
font-style: normal;
font-weight: 700;
font-size: 40px;


}
.section-p{
    color: #444343;
    position: absolute;
width: 416px;
height: 104px;
left: 650px;
top: 350px;
font-style: normal;
line-height: 26px;

}
.ul{
    position: absolute;
width: 368px;
height: 162px;
left: 650px;
top: 450px;

}
/* my plans */
.plans-sub-title{
    display: flex;
}